
Table {
    text-align: center;
}
.table th, .table td {
    vertical-align: none;
}

.danger {
    background-color: #ff7c7c;
    
}
.yet {
    background-color: #ffffa0;
}
.solved {
    background-color: #a0ffa0;
}

.button {
    float:right;
}

.spinner {
    position: absolute;
    left: 50%;
}

.table-head a, .table-head :hover{
    color: black;
    text-decoration: none;
}
